<div [formGroup]="form" fxFill fxLayoutAlign="center center">
  <div class="login-container"  fxLayoutAlign="center" fxLayout="column">
    <div class="logo-container">
      <h1>LabAgenda</h1>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input  matInput type="text" formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
  </div>
</div>

