$agenda-primary: (
  50: #a476e9,
  100: #945BEA,
  200: #8948eb,
  contrast: (
   50: white,
   100: white,
   200: white,
  ),
);

$agenda-secondary: (
  200: #4e396d,
  300: rgb(65, 40, 102),
  300-20-percent: rgb(65, 40, 102, 0.2),
  400: #351d58,
  contrast: (
   200: white,
   300: white,
   400: white,
  )
);

$agenda-warn: (
  200: #F44336,
  200-20-percent: rgb(244, 67, 54, .2),
  300: #C1342A,
  contrast: (
    200: white,
    300: white,
  )
);
