<div>
    <mat-grid-list cols="3" rowHeight="3:2">
      <mat-grid-tile *ngFor="let item of page.data">
        <mat-card class="contact-card" fxLayout="column">
          <mat-card-title>{{item.name}}</mat-card-title>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{item.phones.length}} telefones cadastrados
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let phone of item.phones">
              <p>Número: <strong>{{phone.formattedNumber}}</strong></p>
              <p>Descrição: <strong>{{phone.description}}</strong></p>
            </div>
          </mat-expansion-panel>
          <mat-card-actions class="card-btns">
            <button mat-icon-button color="accent">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-paginator [length]="page.total" (page)="changePageAsync($event)" [pageSize]="6" class="paginator">
    </mat-paginator>
</div>